| Version | Published Date| Details |
| -- | -- | -- |
| ver.1.0.0 | 2023/8/29 | 初版 |

# 正規表現を使いこなそう

Station3では，これまでのStationで学んだ正規表現を本格的に使いこなします。しばらくは覚えるばかりで「これがいったいなんの役に立つのか」と思った方もいることでしょう。このStationでは，より多彩な正規表現を学びます。このStationが終わる頃には電話番号やメールアドレスの抽出といった，より実務的なタスクをこなすことを目指します。

## 文字集合

前回のStationでは `\d` が数字を意味することを学びました。つまり `\d` は `0|1|2|3|4|5|6|7|8|9` の短縮形です。

|  短縮形  |  意味  |
| ---- | ---- |
| \d |0-9の数字|
| \D | 0-9の数字以外 |
| \w | 文字，数字，下線 (単語wordのw) |
| \W | 文字，数字，下線 **以外** |
| \s | スペース，タブ，改行 (空白spaceのs) |
| \S | スペース，タブ，改行 **以外** |

`\d` は数字に， `\w` は数字，文字，下線にそれぞれマッチしますが，文字だけにマッチする短縮形がないことに注意しましょう。文字だけにマッチさせるには後述の文字集合 `[a-zA-Z]` を使います。

In [1]:
import re

In [2]:
zodiac_animals = re.compile(r'\d+\s\w+')
zodiac_animals.findall('1 rat, 2 ox, 3 tiger, 4 rabbit, 5 dragon, 6 snake, 7 horse, 8 sheep, 9 monkey, 10 rooster, 11 dog, 12 pig')

['1 rat',
 '2 ox',
 '3 tiger',
 '4 rabbit',
 '5 dragon',
 '6 snake',
 '7 horse',
 '8 sheep',
 '9 monkey',
 '10 rooster',
 '11 dog',
 '12 pig']

`\d+\s\w+` は，1つ以上の数字 `\d+` の次に、空白文字が1つ `\s` あり，1つ以上の文字または数字または下線 `\w+` が続く文字列にマッチします。`findall()` メソッドは，この正規表現パターンにマッチした文字列をリストとして返します。

## 独自の文字集合を定義する

`\d` や `\w` や `\s` のような短縮形では集合が大きすぎる場合 `[]` を使って独自の文字集合を定義できます。たとえば `[aiueoAIUEO]` は大文字と小文字の母音にマッチします。

In [3]:
vowel_regex = re.compile(r'[aiueoAIUEO]')
vowel_regex.findall('Baby shark and Momma shark')

['a', 'a', 'a', 'o', 'a', 'a']

また `-` を使って文字や数字の範囲を指定できます。たとえば `[0-5]` という文字集合は `0-5` の数字にだけマッチします。 `0|1|2|3|4|5` と書くよりもはるかに短く書けますね。 `[a-zA-Z0-9]` という文字集合は 小文字，大文字，数字 にマッチします。

`[]` 内では，通常の正規表現の記号は解釈されないことに注意しましょう。つまり `.` `*` `?` `()` に `\` をつける必要はありません。たとえば `[0-5.]` は 0-5 の数字とピリオドにマッチします。 `[0-5\.]` のように書く必要はありません。

`[` の直後に `^` をつけると，文字の **補集合** になります。補集合とは，定義した文字集合以外とマッチする，ということを示します。

In [4]:
consonant_regex = re.compile(r'[^aiueoAIUEO]')
consonant_regex.findall('Baby shark and Momma shark')

['B',
 'b',
 'y',
 ' ',
 's',
 'h',
 'r',
 'k',
 ' ',
 'n',
 'd',
 ' ',
 'M',
 'm',
 'm',
 ' ',
 's',
 'h',
 'r',
 'k']

日本語の文字にマッチする正規表現は以下のように書きます。

| 文字種 | 正規表現           |
|--------|--------------------|
| 全角英字 | `[A-Za-z]`           |
| 全角数字 | `[0-9]`              |
| 漢数字  | `[ 〇一二三四五六七八九 ]` |
| ひらがな | `[\u3040-\u309F]`     |
| カタカナ | `[\u30A0-\u30FF]`     |
| 半角カタカナ | `[\uFF66-\uFF9F]`  |
| 漢字   | `[\u4E00-\u9fff]`    |

## `^` と `$` 記号

`^` には別の使い方もあり，検索対象の文字列の先頭にマッチすることを指定するときにも使います。同様に `$` は文字列の末尾にマッチします。 `^` と `$` を同時に使うと，文字列全体が正規表現とマッチすることを表します。つまり，文字列の一部がマッチするものは扱わなくなります。

In [5]:
begins_with_hello = re.compile(r'^Hello')
begins_with_hello.search('Hello, world!')

In [6]:
begins_with_hello.search('He said hello.') == None

True

また `\d$` という正規表現は `0-9` の数字で終わる文字列にマッチします。

In [7]:
ends_with_number = re.compile(r'\d$')
ends_with_number.search('Your number is 765')

In [8]:
ends_with_number.search('Your number is seven hundred sixty-five.') == None

True

`^\d+$` という正規表現は，全体が1文字以上の数字である文字列とマッチします。

In [9]:
whole_string_is_num = re.compile(r'^\d+$')
whole_string_is_num.search('9876543210')

In [10]:
whole_string_is_num.search('12345aahbksh67890') == None

True

In [11]:
whole_string_is_num.search('765 283315') == None

True

## ワイルドカード文字

正規表現では `.` は **ワイルドカード** と呼ばれ，改行以外の任意の文字とマッチします。たとえば

In [12]:
at_regex = re.compile(r'.at')
at_regex.findall('Matt sat at the flat mat and chatted with his fat cat.')

['Mat', 'sat', ' at', 'lat', 'mat', 'hat', 'fat', 'cat']

`.` は1文字としかマッチしないため，この例の `flat` に対しては `lat` だけがマッチします。 `.` そのものとマッチさせたい場合は `\` を使って `\.` とエスケープします。

### `.` と `*` であらゆる文字とマッチする

あらゆる文字列でもマッチしたいことがあります。たとえば `名前:` にマッチしたあとに続く文字列や `名字:` にマッチしたあとに続く文字列です。このように「なんでも」にマッチさせるための正規表現は `.*` と書きます。 `.` は「改行以外の任意の1文字」であり `*` は「直前のパターンの0回以上の繰り返し」を意味するのでした。

これらを組み合わせて任意の長さの文字列を表現します。

In [13]:
name_regex = re.compile(r'名: (.*) 姓: (.*)')
mo = name_regex.search('名: 炭治郎 姓: 竈門')
mo.group(1)

'炭治郎'

In [14]:
mo.group(2)

'竈門'

`.*` は貪欲モードを採用し，できるだけ長い文字列とマッチします。非貪欲モードにしたいときは `.*?` と疑問符を付けます。`{}` の場合と同様に，疑問符は非貪欲モードにすることを意味します。

In [15]:
nongreedy_regex = re.compile(r'<.*?>') # 非貪欲
mo = nongreedy_regex.search('<To serve man> for lunch.>')
mo.group()

'<To serve man>'

In [16]:
greedy_regex = re.compile(r'<.*>') # 貪欲
mo = greedy_regex.search('<To serve man> for lunch.>')
mo.group()

'<To serve man> for lunch.>'

この正規表現はどちらも「 `<` ではじまり，任意の文字列が続き `>` で終わる」ことを示しています。しかし `<To serve man> for lunch.>` という文字列に対しては `>` とマッチするパターンが2通りあります。非貪欲モードではできるだけ短い文字列とマッチし，貪欲モードではできるだけ長い文字列とマッチします。

### `.` を改行とマッチさせる

`.*` は改行以外のあらゆる文字列とマッチします。 `re.compile()` の第2引数として `re.DOTALL` を渡すと，ドット文字が改行を含むすべての文字とマッチするようになります。

In [17]:
no_newline_regex = re.compile('.*')
no_newline_regex.search(
    "God's in his heaven \n"
    "All's right with the world!\n"
).group()

"God's in his heaven "

In [18]:
newline_regex = re.compile('.*', re.DOTALL)
newline_regex.search(
    "God's in his heaven \n"
    "All's right with the world!\n"
).group()

"God's in his heaven \nAll's right with the world!\n"

`no_newline_regex` では `re.DOTALL` オプションが渡されていなかったため，最初の改行文字の前までの部分にマッチしました。一方 `newline_regex` は `re.DOTALL` オプションを使って生成したため，改行文字も含めて文字列全体にマッチしたことがわかります。

## 正規表現に用いる記号のまとめ

ここまでたくさんの記法を説明してきました。ここで簡単に基本的な正規表現をまとめます。

- `?`は，直前のグループの0回か1回の出現にマッチする
- `*`は，直前のグループの0回以上の出現にマッチする
- `+`は，直前のグループの1回以上の出現にマッチする
- `{n}`は，直前のグループのn回の出現にマッチする
- `{n,}`は，直前のグループのn回以上の出現にマッチする
- `{,m}`は，直前のグループの0~m回の出現にマッチする
- `{n,m}`は，直前のグループのn~m回の出現にマッチする
- `{n,m}?`，`*?`，`+?`は，直前のグループの非貪欲マッチを行う
- `^spam`は，「spam」から始まる文字列とマッチする
- `spam$`は，「spam」で終わる文字列とマッチする
- `.`は，改行文字以外の任意の1文字とマッチする
- `\d`，`\w`，`\s`は，それぞれ，数字，単語を構成する文字，空白文字にマッチする
- `\D`，`\W`，`\S`は，それぞれ，数字，単語を構成する文字，空白文字以外の文字にマッチする
- `[abc]`は，角カッコの中の任意の1文字にマッチする（この例では、「a」か「b」か「c」）
- `[^abc]`は，角カッコの中の文字以外の任意の1文字にマッチする

## 大文字・小文字を無視したマッチ

通常は，正規表現は大文字と小文字を区別してマッチします。例えば次の正規表現はそれぞれまったく異なる文字列とマッチします。

In [19]:
regex1 = re.compile('Ruby')
regex2 = re.compile('ruby')
regex3 = re.compile('rUby')
regex4 = re.compile('RUBY')

大文字と小文字を区別せずにマッチしたいときがあります。そうするには `re.compile()` に `re.IGNORECASE` もしくは `re.I` オプションを渡します。

In [20]:
ruby = re.compile(r'ruby', re.I)
ruby.search('Ruby is an interpreted, high-level, general-purpose programming language').group()

'Ruby'

In [21]:
ruby.search('RUBY is an interpreted, high-level, general-purpose programming language').group()

'RUBY'

In [22]:
ruby.search('ruby is an interpreted, high-level, general-purpose programming language').group()

'ruby'

## `sub()` メソッドを用いて文字列を置換する

正規表現は文字列のパターン検索だけではなく，文字列の置換もすることもできます。 `Regex` オブジェクトの `sub()` メソッドは引数を2つ取ります。第1引数は置き換える文字列，第2引数は検索置換対象の文字列です。 `sub()` メソッドは置換後の文字列を返します。

In [23]:
names_regex = re.compile(r'Agent \w+')
names_regex.sub('***CENSORED***', "Agent Matt gave the secret documents to Agent Mary")

'***CENSORED*** gave the secret documents to ***CENSORED***'

マッチした文字列を，置換の一部として使いたい場合もあります。その場合は `sub()` の第1引数に `\1` `\2` `\3` のように，グループの番号を使って記述します。

たとえば，個人情報を含む名前を検索し，頭文字だけで表示するとしましょう。そうするには `(\w)\w*` という正規表現を用いて `sub()` の第1引数に `\1****` を渡します。`\1` がグループ1にマッチした文字列であり，今回の場合は正規表現の `(\w)` に置き換わります。

In [24]:
agent_names_regex = re.compile(r'Agent (\w)\w*')
agent_names_regex.sub(r'\1****', "Agent Anderson told Agent Campbell that Agent Edwards knew Agent Bennett was a double agent")

'A**** told C**** that E**** knew B**** was a double agent'

## 複雑な正規表現を管理する

正規表現は，テキストのパターンが単純なうちはよいのですが，複雑になってくると長くてややこしい記述が必要になります。この場合は，正規表現の文字列の中に含まれる空白文字やコメントを無視するように `re.compile()` に指定すればこの問題を緩和できます。この **冗長モード** を指定するには `re.compile()` に `re.VERBOSE` を渡します。

In [25]:
 phone_regex = re.compile(r'((\d{3}|\(\d{3}\))?(\s|-|\.)?\d{3}(\s|-|\.)'
                             r'\d{4}(\s*(ext|x|ext.)\s*\d{2,5})?)')

のような難解な1行の正規表現を

In [26]:
phone_regex = re.compile(r"""(
    (\d{3}|\(\d{3}\))?              # 3桁の市外局番(()が付いていてもよい)
    (\s|-|\.)?                      # 区切り(スペースかハイフンかドット)
    \d{3}                           # 3桁の市内局番
    (\s|-|\.)                       # 区切り
    \d{4}                           # 4桁の番号
    (\s*(ext|x|ext.)\s*\d{2,5})?    # 2~5桁の内線番号
    )""", re.VERBOSE)

のようにも書けます。正規表現の文字列中のコメントの書き方はPythonのコードと同じです。このように書いた場合は文字列中の余分な空白もマッチする文字列には含まれなくなります。

In [27]:
text = """
This is
very looooooooooooong
sentence
"""
text

'\nThis is\nvery looooooooooooong\nsentence\n'

行数の多いテキストをPythonで書く場合，このように `"""` と `"""` で囲むと複数行に渡って可読性を高めながらテキストを書けることは覚えておくとよいでしょう。改行を取り除きたい場合は `replace()` メソッドを使うと便利です。

In [28]:
text.replace("\n", "")

'This isvery looooooooooooongsentence'

# 電話番号とメールアドレスを抽出

自動化のStationでは，今までのStationとは違い，より実務的なプロジェクトに取り組みます。ここで大量のウェブページや文書から，すべての電話番号とメールアドレスを見つけ出すことを考えます。

手作業でページをスクロールして探し出すのはとても長い時間がかかることでしょう。しかしColabに貼り付けたテキストから電話番号とメールアドレスを検索してくれるプログラムがあれば `Ctrl/Comman + A` で全テキストを選択，`Ctrl/Comman + C` でColabに貼り付け，プログラムを実行するだけで済みます。

こういった少し重たい自動化処理をPythonで行う場合，すぐにコードを書きたくなる方もいることでしょう。しかしいきなり取りかかるのではなく，まずは全体を構想した方が，多くの場合より楽に速く問題を解くことができます。

たとえば，電話番号とメールアドレスを抽出するためには，次のような機能が必要です。

1. 貼り付けられたテキストを読み込む
2. テキストから電話番号とメールアドレスを見つける
3. 見つけたパターンを表示する

次にこれをコードで実現する方法を考えます。コードは次のようなことをする必要があります。

1. 電話番号用とメールアドレス用の2つの正規表現を作る
2. 2つの正規表現にマッチするすべての文字列を取得する
3. マッチした文字列をきれいに整形して表示する
4. 何も見つからなかったときにメッセージを表示する

このようなロードマップを作ると，それぞれの問題に集中して取り組めます。少しむずかしく感じるかもしれませんが，今まで学んだことを使えば実現できます。

## 電話番号の抽出

日本の電話番号は，市外局番が0からはじまる1-4桁，市内局番が1-4桁，加入者番号が4桁であり，正規表現は次のようになります。市外局番は数字かそれぞれが丸カッコで囲まれたもののどちらかであるため `|` で区切って記述しています。それぞれが何とマッチするのかを忘れないようにコメントをつけています。

In [29]:
phone_regex = re.compile(r"""(
    (0\d{0,3}|\(0\d{0,3}\))         # 市外局番
    (\s|-)                          # 区切り
    (\d{1,4})                       # 市内局番
    (\s|-)                          # 区切り
    (\d{3,4})                       # 加入者番号
    (\s*(ext|x|ext.)\s*(\d{2,5}))?  # 内線番号
    )""", re.VERBOSE)

## メールアドレスの抽出

同様に，メールアドレスの正規表現をつくります。プログラムは次のようになるでしょう。

In [30]:
email_regex = re.compile(r"""(
    [a-zA-Z0-9._%+-]+   # ユーザー名
    @                   # @記号
    [a-zA-Z0-9.-]+      # ドメイン名
    (\.[a-zA-Z]{2,4})   # ドットの後
)""", re.VERBOSE)

メールアドレスのユーザー名の部分は，小文字，大文字，数字，ドット，下線，パーセント，プラス，ハイフンから1文字以上使って構成されます。これらは文字集合 `[a-zA-Z0-9._%+-]` として表わせ，1つ以上あるので `+` をつけます。

ユーザー名とドメイン名は `@` で区切ります。ドメイン名に使える文字は少し限定されていて，アルファベット，数字，ドット，ハイフンだけなので `[a-zA-Z]` とします。最後に「ドットの後」の部分 (技術的にはトップレベルドメインといいます) は，文字通り「ドットの後」としここでは2-4文字とします。

実際にはメールアドレスの形式にはより複雑なルールがあります。ここで書いた正規表現があらゆる正しいメールアドレスにマッチするものではありませんが，よくあるメールアドレスの大部分にはマッチするでしょう。

## セル内のテキストを検索する

電話番号とメールアドレスそれぞれのための正規表現を準備できました。それではPythonの `re` にはついにColabのセルに書かれたテキストを検索してもらいましょう。ここでは以前に学んだ `findall()` メソッドを使います。

In [31]:
text = """
お問い合わせありがとうございます。

ご不明点やご質問がございましたら、お気軽にお知らせください。

お問い合わせ先の連絡先情報は以下の通りです：

電話番号：

本社：(0120)-1234-5678
支店1：03-9876-5432
支店2：052-2468-1357
メールアドレス：

一般お問い合わせ：info@example.com
カスタマーサポート：support@example.com
営業部門：sales@example.com
鈴木：suzuki.taro@example.cs.com
お手数ですが、お問い合わせの際は、以下の情報をお知らせください：

お名前：
ご連絡先（電話番号またはメールアドレス）：
お問い合わせ内容：

ご連絡いただいた内容に対し、迅速に対応させていただきます。
どうぞよろしくお願いいたします。
"""

In [32]:
matches = []

for groups in phone_regex.findall(text):
    phone_num = '-'.join([groups[1], groups[3], groups[5]])
    if groups[8] != '':
        phone_num += ' x' + groups[8]
    matches.append(phone_num)

for groups in email_regex.findall(text):
    matches.append(groups[0])

正規表現がマッチするたびに1つのタプルが作られ，正規表現のグループに対応する文字列が格納されています。 `groups[0]` は正規表現全体を表すため，タプルの先頭要素は検索したい対象そのものとなります。

検索結果は定義した `matches` リストに記録していきます。最初は空リスト `[]` として `for` ループを2回回します。まずメールアドレスを調べ，そのあとに電話番号を調べます。メールアドレスは `groups[0]` を使って単にマッチした文字列の全体を追加しています。一方で電話番号は単純に追加することはしません。この正規表現はさまざまな形式の電話番号を見つけ出しますが，追加するのはひとつの標準フォーマットにしておいた方が便利です。そのため `phone_num` 変数には `groups[1], groups[3], groups[5], groups[8]` にマッチした文字列から構成した文字列を格納します。それぞれ市外局番，3桁の番号，4桁の番号，内線番号に相当します。グループ番号は，グループの開きカッコが出てくる順に数えます。

## 検索結果をひとまとめにする

以上で `matches` に文字列のリストとして電話番号とメールアドレスを取得できました。今度はこれを見やすく表示してみます。ここではPythonのリストが `[]` である場合は `False` そうでなければ `True` を返すことを利用しています。

In [33]:
if matches:
    matched_text = "\n".join(matches)
    print("見つかった電話番号とメールアドレスはこちらです: ")
    print(matched_text)
else:
    print("電話番号とメールアドレスは見つかりませんでした")

見つかった電話番号とメールアドレスはこちらです:
(0120)-1234-5678
03-9876-5432
052-2468-1357
info@example.com
support@example.com
sales@example.com
suzuki.taro@example.cs.com

# 確認テスト

個人情報が含まれたcsvファイルである `personal_info` を使って以下の問いに答えてください。このファイルに含まれる個人情報はすべてダミーであり，プログラムによって生成したものです。テストの回答はそれぞれ以下の質問の答えを数字で入力してください。プログラムのソースコードを入力する必要はありません。

1. 携帯電話番号の下2桁が `11` である人の人数を答えてください。
1. 早生まれの人数を答えてください。早生まれとは，生まれた月が1月から3月の人を指します。
1. 東京23区に住む人数を答えてください。東京23区の住所は必ず「東京都○○区」と表されることに注意してください。例: 東京都渋谷区，東京都北区

In [34]:
import pandas as pd
personal_info = pd.read_csv("https://drive.google.com/uc?id=17jpKCf-Qdo3IVObiF1WJzFRdEXWdYVHt")
personal_info

,氏名,氏名（ひらがな）,年齢,生年月日,性別,血液型,メールアドレス,電話番号,携帯電話番号,郵便番号,住所,会社名
0,野田 大知,のだ だいち,67,1955年12月23日,男,A,nodadaichi@example.com,0964-63-4407,080-8537-4965,867-2838,熊本県熊本市西区春日2-4-10,NaN
1,金田 英俊,かねだ ひでとし,56,1966年05月20日,男,O,kanedahidetoshi@example.org,0846-39-1554,080-3826-9491,730-7952,広島県福山市川口町1-2-12,合名会社染谷農機工作所
2,稲村 政昭,いなむら まさあき,62,1960年11月19日,男,A,inamuramasaaki@example.net,06-6819-4382,080-4393-4681,577-6363,大阪府大阪市住之江区南港中4-2-4,NaN
3,中島 一弘,なかじま かずひろ,37,1986年02月01日,その他・不明,A,nakajima_kazuhiro@example.com,03-8838-4950,080-2420-0588,119-6946,東京都渋谷区広尾2-5-15,合資会社橘屋
4,大塚 愛美,おおつか めぐみ,62,1961年02月13日,女,B,otsuka_megumi@example.ne.jp,01587-7-2293,050-8744-2152,079-4718,北海道沙流郡日高町富川南3-2-18,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
195,古川 聡太,ふるかわ そうた,35,1987年12月22日,男,B,furukawasota@example.com,0267-77-2518,090-1424-3975,392-9646,長野県松本市中央1-2-3,株式会社ケンテック
196,宇佐美 紘子,うさみ ひろこ,21,2002年02月17日,女,B,hirokousami@example.com,0494-05-3136,080-6575-1815,347-1039,埼玉県南埼玉郡宮代町川端2-4-202,有限会社ツカサ
197,吉池 博子,よしいけ ひろこ,27,1995年08月28日,女,O,yoshiike_hiroko@example.com,03-0362-8237,070-3530-6019,202-5618,東京都渋谷区恵比寿1-1-18,NaN
198,坂本 亜紀子,さかもと あきこ,42,1980年12月13日,女,A,sakamoto1213@example.ne.jp,0564-53-7373,080-8975-8091,445-2380,愛知県名古屋市西区上名古屋3-3-903,株式会社HERO
199,山口 千尋,やまぐち ちひろ,29,1993年09月09日,女,A,yamaguchi99@example.co.jp,098-040-1206,070-5670-2041,903-9529,沖縄県那覇市おもろまち1-1-22,NaN

In [35]:
# ヒント 1: 男性のみを抽出する
personal_info[personal_info['性別'] == '男']

,氏名,氏名（ひらがな）,年齢,生年月日,性別,血液型,メールアドレス,電話番号,携帯電話番号,郵便番号,住所,会社名
0,野田 大知,のだ だいち,67,1955年12月23日,男,A,nodadaichi@example.com,0964-63-4407,080-8537-4965,867-2838,熊本県熊本市西区春日2-4-10,NaN
1,金田 英俊,かねだ ひでとし,56,1966年05月20日,男,O,kanedahidetoshi@example.org,0846-39-1554,080-3826-9491,730-7952,広島県福山市川口町1-2-12,合名会社染谷農機工作所
2,稲村 政昭,いなむら まさあき,62,1960年11月19日,男,A,inamuramasaaki@example.net,06-6819-4382,080-4393-4681,577-6363,大阪府大阪市住之江区南港中4-2-4,NaN
5,太田 紀彦,おおた のりひこ,73,1949年07月04日,男,A,norihikoota@example.co.jp,03-9879-5847,090-9720-6999,165-0390,東京都港区六本木2-3-7ルミエール310,NaN
6,平島 祐樹,ひらしま ゆうき,29,1994年02月21日,男,A,hirashima_yuuki@example.net,048-756-3820,050-9067-9055,337-5796,埼玉県川口市鳩ヶ谷本町3-1-6,有限会社伊藤工務店
...,...,...,...,...,...,...,...,...,...,...,...,...
181,澤井 豊,さわい ゆたか,78,1944年06月22日,男,O,yutakasawai@example.jp,0493-85-1688,090-5076-2376,346-4393,埼玉県志木市下宗岡1-4-12ハイネスクラウズ609,NaN
188,加勢 俊輔,かせい しゅんすけ,56,1966年05月21日,男,O,kasei_shunsuke@example.ne.jp,06-7869-7959,070-6174-7663,559-8660,大阪府大阪市中央区南船場2-1-509,有限会社藤屋
191,渡部 修,わたなべ おさむ,47,1975年07月21日,男,B,watanabe_721@example.ne.jp,0883-64-3384,090-7697-3005,777-1643,徳島県徳島市中島田町3-2-7,株式会社田中工務店
193,川波 文仁,かわなみ ふみひと,73,1949年09月07日,男,O,fumihito_kawanami@example.org,0480-51-8182,050-6572-6116,343-2879,埼玉県北葛飾郡杉戸町内田1-3-20グランアッシュ113,NaN
195,古川 聡太,ふるかわ そうた,35,1987年12月22日,男,B,furukawasota@example.com,0267-77-2518,090-1424-3975,392-9646,長野県松本市中央1-2-3,株式会社ケンテック

In [36]:
# ヒント 2: personal_infoの登録件数を計算する
len(personal_info)

200

In [37]:
def eleven_end(date_str):

  # 日付のパターンを作成
  pattern = re.compile(r"11$")

  # パターンに一致する部分を抽出
  match = pattern.search(date_str)

  # 月を返す
  if match:
    return True
  else:
    return False

In [38]:
personal_info["eleven_end"] = personal_info["携帯電話番号"].apply(eleven_end)

In [39]:
print(personal_info)

         氏名   氏名（ひらがな）  年齢         生年月日      性別 血液型  \
0     野田 大知     のだ だいち  67  1955年12月23日       男   A
1     金田 英俊   かねだ ひでとし  56  1966年05月20日       男   O
2     稲村 政昭  いなむら まさあき  62  1960年11月19日       男   A
3     中島 一弘  なかじま かずひろ  37  1986年02月01日  その他・不明   A
4     大塚 愛美   おおつか めぐみ  62  1961年02月13日       女   B
..      ...        ...  ..          ...     ...  ..
195   古川 聡太   ふるかわ そうた  35  1987年12月22日       男   B
196  宇佐美 紘子    うさみ ひろこ  21  2002年02月17日       女   B
197   吉池 博子   よしいけ ひろこ  27  1995年08月28日       女   O
198  坂本 亜紀子   さかもと あきこ  42  1980年12月13日       女   A
199   山口 千尋   やまぐち ちひろ  29  1993年09月09日       女   A

                           メールアドレス          電話番号         携帯電話番号      郵便番号  \
0           nodadaichi@example.com  0964-63-4407  080-8537-4965  867-2838
1      kanedahidetoshi@example.org  0846-39-1554  080-3826-9491  730-7952
2       inamuramasaaki@example.net  06-6819-4382  080-4393-4681  577-6363
3    nakajima_kazuhiro@example.com  03-8838-4950  080-2420-0588  119-6946
4      otsuka_megumi@example.ne.jp  01587-7-2293  050-8744-2152  079-4718
..                             ...           ...            ...       ...
195       furukawasota@example.com  0267-77-2518  090-1424-3975  392-9646
196        hirokousami@example.com  0494-05-3136  080-6575-1815  347-1039
197    yoshiike_hiroko@example.com  03-0362-8237  070-3530-6019  202-5618
198     sakamoto1213@example.ne.jp  0564-53-7373  080-8975-8091  445-2380
199      yamaguchi99@example.co.jp  098-040-1206  070-5670-2041  903-9529

                       住所          会社名  eleven_end
0        熊本県熊本市西区春日2-4-10          NaN       False
1         広島県福山市川口町1-2-12  合名会社染谷農機工作所       False
2      大阪府大阪市住之江区南港中4-2-4          NaN       False
3          東京都渋谷区広尾2-5-15       合資会社橘屋       False
4      北海道沙流郡日高町富川南3-2-18          NaN       False
..                    ...          ...         ...
195         長野県松本市中央1-2-3    株式会社ケンテック       False
196   埼玉県南埼玉郡宮代町川端2-4-202      有限会社ツカサ       False
197       東京都渋谷区恵比寿1-1-18          NaN       False
198  愛知県名古屋市西区上名古屋3-3-903     株式会社HERO       False
199     沖縄県那覇市おもろまち1-1-22          NaN       False

[200 rows x 13 columns]

In [40]:
personal_info["eleven_end"].value_counts()

False    197
True       3
Name: eleven_end, dtype: int64

In [41]:
def get_month_from_date(date_str):

  # 日付のパターンを作成
  pattern = re.compile(r"(.*)年(.*)月(.*)日")

  # パターンに一致する部分を抽出
  match = pattern.search(date_str)

  # 月を返す
  if match:
    return int(match.group(2))
  else:
    return None

In [42]:
personal_info["月"] = personal_info["生年月日"].apply(get_month_from_date)

In [43]:
print(personal_info)

         氏名   氏名（ひらがな）  年齢         生年月日      性別 血液型  \
0     野田 大知     のだ だいち  67  1955年12月23日       男   A
1     金田 英俊   かねだ ひでとし  56  1966年05月20日       男   O
2     稲村 政昭  いなむら まさあき  62  1960年11月19日       男   A
3     中島 一弘  なかじま かずひろ  37  1986年02月01日  その他・不明   A
4     大塚 愛美   おおつか めぐみ  62  1961年02月13日       女   B
..      ...        ...  ..          ...     ...  ..
195   古川 聡太   ふるかわ そうた  35  1987年12月22日       男   B
196  宇佐美 紘子    うさみ ひろこ  21  2002年02月17日       女   B
197   吉池 博子   よしいけ ひろこ  27  1995年08月28日       女   O
198  坂本 亜紀子   さかもと あきこ  42  1980年12月13日       女   A
199   山口 千尋   やまぐち ちひろ  29  1993年09月09日       女   A

                           メールアドレス          電話番号         携帯電話番号      郵便番号  \
0           nodadaichi@example.com  0964-63-4407  080-8537-4965  867-2838
1      kanedahidetoshi@example.org  0846-39-1554  080-3826-9491  730-7952
2       inamuramasaaki@example.net  06-6819-4382  080-4393-4681  577-6363
3    nakajima_kazuhiro@example.com  03-8838-4950  080-2420-0588  119-6946
4      otsuka_megumi@example.ne.jp  01587-7-2293  050-8744-2152  079-4718
..                             ...           ...            ...       ...
195       furukawasota@example.com  0267-77-2518  090-1424-3975  392-9646
196        hirokousami@example.com  0494-05-3136  080-6575-1815  347-1039
197    yoshiike_hiroko@example.com  03-0362-8237  070-3530-6019  202-5618
198     sakamoto1213@example.ne.jp  0564-53-7373  080-8975-8091  445-2380
199      yamaguchi99@example.co.jp  098-040-1206  070-5670-2041  903-9529

                       住所          会社名  eleven_end   月
0        熊本県熊本市西区春日2-4-10          NaN       False  12
1         広島県福山市川口町1-2-12  合名会社染谷農機工作所       False   5
2      大阪府大阪市住之江区南港中4-2-4          NaN       False  11
3          東京都渋谷区広尾2-5-15       合資会社橘屋       False   2
4      北海道沙流郡日高町富川南3-2-18          NaN       False   2
..                    ...          ...         ...  ..
195         長野県松本市中央1-2-3    株式会社ケンテック       False  12
196   埼玉県南埼玉郡宮代町川端2-4-202      有限会社ツカサ       False   2
197       東京都渋谷区恵比寿1-1-18          NaN       False   8
198  愛知県名古屋市西区上名古屋3-3-903     株式会社HERO       False  12
199     沖縄県那覇市おもろまち1-1-22          NaN       False   9

[200 rows x 14 columns]

In [44]:
print(personal_info["月"].value_counts())

2     23
11    22
12    19
1     19
9     19
7     18
8     18
6     16
3     15
5     13
10     9
4      9
Name: 月, dtype: int64

In [45]:
import pandas as pd
#上限表示数を拡張
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 300)

In [46]:
def has_tokyo_ward(address):

  # 住所のパターンを作成
  pattern = re.compile(r'東京都\w+区')

  # パターンに一致する部分を抽出
  match = pattern.search(address)

  # 一致した場合はTrueを返す
  if match:
    return True
  else:
    return False

In [47]:
personal_info["特別区"] = personal_info["住所"].apply(has_tokyo_ward)

In [48]:
print(personal_info)

          氏名    氏名（ひらがな）  年齢         生年月日      性別 血液型  \
0      野田 大知      のだ だいち  67  1955年12月23日       男   A
1      金田 英俊    かねだ ひでとし  56  1966年05月20日       男   O
2      稲村 政昭   いなむら まさあき  62  1960年11月19日       男   A
3      中島 一弘   なかじま かずひろ  37  1986年02月01日  その他・不明   A
4      大塚 愛美    おおつか めぐみ  62  1961年02月13日       女   B
5      太田 紀彦    おおた のりひこ  73  1949年07月04日       男   A
6      平島 祐樹    ひらしま ゆうき  29  1994年02月21日       男   A
7       岡村 正    おかむら ただし  46  1976年08月01日       男   O
8     田中 麻由美     たなか まゆみ  43  1979年06月25日       女   B
9      磯野 千晶     いその ちあき  29  1993年06月27日       女   O
10      大隅 圭     おおすみ けい  74  1948年12月27日       男   O
11     池野 雅士     いけの まさし  64  1959年01月14日       男   B
12     新谷 優子    しんたに ゆうこ  23  2000年03月02日       女   O
13      岩崎 卓    いわさき すぐる  24  1998年08月04日       男  AB
14     浦田 真光    うらた まさみつ  36  1987年01月06日       男   B
15     関野 厚子     せきの あつこ  26  1996年08月16日       女   A
16     西山 光浩   にしやま みつひろ  20  2003年03月05日       男   A
17     堀口 彰洋   ほりぐち あきひろ  79  1944年05月01日       男   A
18      田中 太     たなか ふとし  75  1947年10月03日       男   A
19      野島 健      のじま けん  63  1959年09月27日  その他・不明   A
20    野上 亜由子     のがみ あゆこ  75  1948年03月08日       女  AB
21     今成 嘉子    いまなり よしこ  51  1971年12月26日       女   B
22   我如古 恵里佳     がねこ えりか  45  1977年07月24日       女   O
23     杉本 裕介   すぎもと ゆうすけ  23  1999年11月29日       男   A
24      市川 聡    いちかわ あきら  66  1956年11月25日       男   O
25     中西 昌子    なかにし まさこ  73  1950年04月08日       女   A
26     市川 一男    いちかわ かずお  24  1998年08月10日       男   O
27      高西 潤    たかにし じゆん  55  1968年02月05日       男   A
28     吉田 典明    よしだ のりあき  33  1990年02月23日  その他・不明   O
29     三次 和隆    みつぎ かずたか  37  1985年05月27日  その他・不明  AB
30      廣瀬 勉     ひろせ つとむ  32  1991年04月16日       男   A
31     安富 佳祐   やすとみ けいすけ  24  1999年05月01日       男   A
32      安藤 徹    あんどう とおる  34  1989年01月22日       男   A
33    西川 謙太郎  にしかわ けんたろう  68  1954年10月26日       男   O
34     角田 邦彦    つのだ くにひこ  22  2000年09月18日       男  AB
35      金井 正     かない ただし  37  1986年01月26日       男   A
36      宮沢 勉    みやざわ つとむ  27  1995年09月01日       男   A
37     横田 匡宏    よこた まさひろ  41  1981年09月18日       男   O
38     池田 光男    いけだ みちゅお  32  1990年09月24日       男   A
39     杉本 秀樹    すぎもと ひでき  25  1997年08月20日       男   A
40     望月 剛史    もちづき たけし  79  1944年01月16日       男   B
41     宮崎 昌子    みやざき まさこ  64  1958年09月10日       女   A
42     菊地 孝太     きくち こうた  67  1955年11月29日       男   O
43      糠信 学    ぬかのぶ まなぶ  56  1967年02月23日       男   A
44      山崎 充    やまざき みつる  76  1946年06月06日       男   O
45      山口 純     やまぐち あや  79  1943年12月10日       男   A
46     海老澤 晋    えびさわ すすむ  54  1968年11月07日       男   B
47     河津 宏樹     かわづ ひろき  24  1998年06月08日       男   O
48     都築 航平    つづき こうへい  36  1987年02月19日       男   B
49      沖本 浩    おきもと ひろし  55  1967年10月03日       男   A
50      谷口 学    たにぐち まなぶ  56  1967年02月19日  その他・不明   A
51     浜田 和也     はまだ かずや  56  1967年02月16日       男   O
52     中西 俊広   なかにし としひろ  38  1984年10月28日       男   O
53     窪田 雄介    くぼた ゆうすけ  39  1983年11月23日       男   O
54      森 恭子     もり きょうこ  47  1976年02月18日       女   A
55     吉田 孝文    よしだ たかふみ  72  1950年11月07日       男   A
56    岩村 有紀子    いわむら ゆきこ  25  1997年09月18日  その他・不明   A
57     浅井 昭宏    あさい あきひろ  45  1977年06月26日       男   A
58     牧野 智明    まきの ともあき  57  1965年07月20日       男   O
59      橋 良彦     はし よしひこ  20  2002年12月26日       男   A
60     葛原 康人    くずはら やすと  50  1972年09月22日       男   O
61     植野 穂高     うえの ほたか  80  1942年09月04日       男   B
62    佐藤 みゆき     さとう みゆき  63  1959年06月16日  その他・不明   B
63     高田 康博    たかだ やすひろ  50  1973年02月12日       男   O
64      金沢 茂    かなざわ しげる  71  1951年09月06日       男   A
65     赤峰 信之   あかみね のぶゆき  37  1986年01月09日       男   O
66    山本 ゆりえ    やまもと ゆりえ  58  1964年07月24日       女   A
67    斉藤 美紗子    さいとう みさこ  61  1962年04月17日       女   O
68     金子 将太    かねこ しょうた  39  1983年06月18日       男   A
69     足利 豊和   あしかが とよかず  35  1987年08月05日       男   O
70     有田 貴史     ありた たかし  74  1949年04月13日       男   O
71     新谷 郁子    しんたに いくこ  53  1970年02月10日       女   B
72     渡瀬 昌宏    わたせ まさひろ  69  1953年07月08日       男   B
73     安田 保孝    やすだ やすたか  65  1958年03月25日       男   A
74     福田 恵美      ふくだ えみ  53  1969年09月28日       女   O
75      千葉 譲      ちば ゆずる  63  1960年02月12日       男   A
76     石井 守弘    いしい もりひろ  34  1988年08月04日       男  AB
77     多田 真弓      ただ まゆみ  58  1964年09月29日       女   A
78     大塚 洋子    おおつか ようこ  48  1974年12月21日       女   B
79    望月 オサム    もちづき おさむ  67  1955年07月21日       男   B
80      柳澤 諒   やなぎさわ りょう  22  2000年11月01日       男   O
81     橋本 実奈     はしもと みな  28  1994年12月01日       女  AB
82      岡部 香     おかべ かおり  30  1993年01月07日       女   O
83      石神 梢    いしがみ こずえ  72  1950年08月25日       女   A
84    野瀬 征一郎   のせ せいいちろう  37  1985年09月23日       男   B
85     山本 和美    やまもと かずみ  56  1967年04月17日       女   O
86     富田 宏美     とみた ひろみ  49  1973年12月06日       女   O
87     森山 和裕   もりやま かずひろ  26  1997年01月24日       男   O
88     齋藤 健一   さいとう けんいち  74  1948年06月15日       男   A
89     佐藤 健人     さとう けんと  69  1953年05月13日       男   B
90     奥村 享子   おくむら きょうこ  73  1950年01月19日       女   A
91    渡邊 小夜子    わたなべ さよこ  38  1984年11月27日       女  AB
92    長谷川 祐子    はせがわ ゆうこ  33  1989年12月05日       女  AB
93     早苗 陽子     さなえ ようこ  42  1980年12月06日       女   O
94     杉本 拓海    すぎもと たくみ  21  2001年08月30日       男   B
95     小西 竜也     こにし たつや  58  1965年01月25日       男   A
96     平子 和郎     ひらこ かずお  57  1966年03月24日       男   O
97     北村 優子    きたむら ゆうこ  54  1968年08月22日       女   B
98      篠原 徹    しのはら とおる  79  1943年07月22日       男   A
99     松村 寿人    まつむら ひさと  24  1998年08月13日       男   B
100    甲斐 貴士      かい たかし  44  1978年11月15日       男   O
101    加藤 慎一    かとう しんいち  37  1985年12月08日       男   B
102    田中 明彦    たなか あきひこ  29  1993年06月19日       男   B
103    宮崎 健太    みやざき けんた  68  1954年05月21日       男   A
104   井関 真里子     いせき まりこ  68  1954年09月30日       女   B
105     川上 渉    かわかみ わたる  29  1993年05月13日       男   A
106   横山 由美子    よこやま ゆみこ  42  1980年05月23日       女   O
107    山岸 恵理     やまぎし えり  56  1967年03月12日       女   O
108    福田 克彦    ふくだ かつひこ  41  1982年03月04日       男   O
109   野口 由香里     のぐち ゆかり  60  1962年07月29日       女  AB
110     森 賢一     もり けんいち  37  1985年06月23日       男   O
111    工藤 梨沙      くどう りさ  80  1942年05月25日       女  AB
112    鈴木 晴香     すずき はるか  39  1983年10月20日       女   O
113    山内 裕介   やまうち ゆうすけ  75  1947年11月12日  その他・不明  AB
114    岩瀬 大輔    いわせ だいすけ  45  1977年07月20日       男   O
115    河合 宏行    かわい ひろゆき  46  1976年10月04日       男   O
116    萬田 逸郎    まんだ いつろう  73  1949年08月28日       男   O
117     藤原 愛     ふじわら あい  22  2000年08月03日       女   O
118   片岡 ゆりこ    かたおか ゆりこ  22  2000年06月09日       女   A
119    伊藤 浩明    いとう ひろあき  76  1946年08月20日       男   A
120    金 真理子      きむ まりこ  43  1979年06月18日       女   A
121     山本 照     やまもと てる  39  1983年11月06日       男   O
122     壱岐 基      いき もとい  42  1981年03月16日       男   O
123    野尻 弘子     のじり ひろこ  69  1953年07月19日       女   A
124    野嶋 広大    のじま こうだい  49  1974年02月21日       男   A
125    桶谷 潤一  おけたに じゅんいち  55  1967年08月26日       男   A
126    中野 佳奈      なかの かな  43  1979年12月19日       女   O
127    麻生 太一     あそう たいち  78  1944年11月11日       男   A
128    杉内 英晃   すぎうち ひであき  80  1942年06月19日       男   A
129    浜名 亜依      はまな あい  48  1975年04月24日       女  AB
130    中島 桂介   なかじま けいすけ  44  1978年12月23日       男   B
131    加藤 京平   かとう きょうへい  75  1948年03月30日  その他・不明   O
132    金光 美和     かねみつ みわ  39  1984年01月27日       女   A
133    西岡 純一  にしおか じゅんいち  59  1964年04月11日       男   A
134    平山 武宏   ひらやま たけひろ  53  1969年11月21日       男   O
135    富田 敦子     とみた あつこ  20  2003年03月29日       女   A
136   工藤 あずさ     くどう あずさ  40  1982年10月16日       女   B
137    小柴 哲也     こしば てつや  51  1971年08月06日       男   O
138    田中 匠太    たなか しょうた  53  1969年07月18日       男   B
139    宮本 圭治    みやもと けいじ  49  1974年02月08日       男   B
140    山岸 まい     やまぎし まい  25  1998年01月30日       女   O
141    山崎 順一  やまざき じゅんいち  51  1971年11月23日       男   A
142    藤崎 雅也    ふじさき まさや  46  1976年11月18日       男   O
143    吉田 和美     よしだ かずみ  72  1951年01月18日       女   O
144    豊澤 幹子    とよさわ みきこ  21  2001年12月07日       女   B
145     橋本 稔    はしもと みのる  45  1977年11月12日       男   O
146    野口 俊彦    のぐち としひこ  58  1965年04月13日       男   O
147     林 哲也     はやし てつや  28  1994年06月10日       男   B
148    石村 真菜     いしむら まな  26  1997年03月22日       女   B
149    寺山 和生    てらやま かずお  62  1961年02月20日       男   B
150    野村 伸夫     のむら のぶお  50  1972年08月27日       男   A
151    竹原 雅樹    たけはら まさき  56  1967年02月20日       男   B
152    羽根 英二      はね えいじ  68  1955年01月21日       男   O
153    伊藤 麻美     いとう あさみ  58  1965年03月05日       女   A
154    大森 映子    おおもり えいこ  58  1965年01月07日       女   B
155    奥間 兼司     おくま けんじ  66  1957年02月09日       男   O
156    荒木 正明    あらき まさあき  29  1993年05月12日       男   B
157    堀内 健司    ほりうち けんじ  44  1978年12月25日       男   A
158   奥村 真理子    おくむら まりこ  43  1980年02月08日       女   O
159   佐々木 光子    ささき ひかるこ  36  1986年06月03日       女   O
160    高砂 桂子    たかさご けいこ  64  1958年10月28日       女   A
161     石渡 悟    いしわた さとる  29  1994年01月07日       男   O
162    丸尾 早苗     まるお さなえ  55  1967年11月21日       女   B
163     渡辺 翼    わたなべ つばさ  33  1990年01月23日       男   B
164    田中 拓也     たなか たくや  68  1955年02月25日       男   B
165    松島 光則   まつしま みつのり  78  1945年03月28日       男   A
166    崎山 弘一   さきやま こういち  43  1979年11月20日       男   A
167    谷 由美子      たに ゆみこ  36  1986年07月08日       女   A
168    大西 彰子    おおにし あきこ  75  1948年01月11日  その他・不明   A
169   高瀬 真由美     たかせ まゆみ  46  1976年10月26日       女   A
170    小西 将人     こにし まさと  73  1950年02月17日       男   A
171    細田 敏哉     ほそだ としや  26  1997年03月15日       男   O
172     沢村 匠    さわむら たくみ  43  1979年12月04日       男   A
173   藤井 さおり     ふじい さおり  77  1945年07月30日       女  AB
174     川口 徹    かわぐち とおる  60  1962年09月27日       男   O
175    蒲谷 修一   かばや しゅういち  46  1976年11月11日       男   O
176    坂口 詩織    さかぐち しおり  68  1954年11月17日       女   B
177    加藤 直人     かとう なおと  61  1961年05月16日       男   B
178     小林 亮    こばやし りょう  26  1996年07月02日       男   O
179    熱田 伸介    あつた しんすけ  65  1957年07月07日       男   O
180     中西 稔    なかにし みのる  35  1987年12月28日       男   A
181     澤井 豊     さわい ゆたか  78  1944年06月22日       男   O
182    関口 亮子   せきぐち りょうこ  71  1952年04月03日       女   A
183    佐藤 麗奈     さとう れいな  69  1953年09月19日       女   O
184     西 美帆       にし みほ  46  1977年01月18日       女   B
185   穴井 ひかり     あない ひかり  59  1963年07月14日       女   A
186    菅原 紀江    すがわら のりえ  44  1979年02月19日  その他・不明   A
187    安川 志保     やすかわ しほ  72  1951年05月07日       女   B
188    加勢 俊輔   かせい しゅんすけ  56  1966年05月21日       男   O
189    山本 裕子    やまもと ゆうこ  50  1972年09月09日       女   A
190    渡部 美帆     わたなべ みほ  48  1974年07月12日       女   O
191     渡部 修    わたなべ おさむ  47  1975年07月21日       男   B
192    直井 雅代     なおい まさよ  46  1977年03月03日       女   B
193    川波 文仁   かわなみ ふみひと  73  1949年09月07日       男   O
194   森田 由樹子     もりた ゆきこ  37  1985年11月13日       女   A
195    古川 聡太    ふるかわ そうた  35  1987年12月22日       男   B
196   宇佐美 紘子     うさみ ひろこ  21  2002年02月17日       女   B
197    吉池 博子    よしいけ ひろこ  27  1995年08月28日       女   O
198   坂本 亜紀子    さかもと あきこ  42  1980年12月13日       女   A
199    山口 千尋    やまぐち ちひろ  29  1993年09月09日       女   A

                               メールアドレス          電話番号         携帯電話番号      郵便番号  \
0               nodadaichi@example.com  0964-63-4407  080-8537-4965  867-2838
1          kanedahidetoshi@example.org  0846-39-1554  080-3826-9491  730-7952
2           inamuramasaaki@example.net  06-6819-4382  080-4393-4681  577-6363
3        nakajima_kazuhiro@example.com  03-8838-4950  080-2420-0588  119-6946
4          otsuka_megumi@example.ne.jp  01587-7-2293  050-8744-2152  079-4718
5            norihikoota@example.co.jp  03-9879-5847  090-9720-6999  165-0390
6          hirashima_yuuki@example.net  048-756-3820  050-9067-9055  337-5796
7           okamuratadashi@example.net  0761-87-9788  050-4329-7356  929-3323
8          tanaka_mayumi@example.co.jp  0226-59-9925  080-6749-7747  980-5410
9            isonochiaki@example.co.jp  0554-58-5100  090-6627-1943  404-5624
10            osumi_1227@example.co.jp  0460-58-1175  070-8929-4862  254-3682
11            masashiikeno@example.net  0225-81-0148  080-1241-7619  985-0993
12          yuuko_shintani@example.net  06-2351-4861  050-2765-0691  595-5255
13           iwasakisuguru@example.com  03-6627-4179  090-2131-1304  146-2261
14                urata_16@example.com  03-2862-4541  080-5582-4468  107-3179
15          sekinoatsuko@example.co.jp  06-5753-6240  050-7596-0486  585-6522
16     nishiyama_mitsuhiro@example.net  03-6558-5257  050-7959-4257  175-7377
17            horiguchi_51@example.com  093-749-7174  090-5742-3507  833-8121
18           tanakafutoshi@example.net  03-3298-6509  050-9087-8847  205-2274
19                kennojima@example.jp  045-532-3266  050-4903-4325  236-4466
20            nogami_ayuko@example.com  03-8839-1053  090-7596-4195  100-1580
21             imanari1226@example.net  06-5448-2348  080-7786-6827  590-7030
22               ganeko724@example.com  0798-36-1572  090-4479-5913  673-7438
23        sugimoto_yuusuke@example.net  044-703-8349  050-4098-5965  246-9051
24           ichikawa_1125@example.net  03-5273-2251  050-6610-8314  194-0601
25         nakanishimasako@example.org  03-7077-4005  090-2181-1635  179-8141
26        ichikawa_kazuo@example.co.jp  0145-48-3136  070-8135-4111  095-5780
27          takanishijiyun@example.org  03-4536-8120  070-5756-8184  189-6238
28         noriaki_yoshida@example.com  03-3656-5907  090-5640-0617  136-8833
29         kazutakamitsugi@example.com  03-7635-1814  090-9970-8389  208-4839
30               hirose416@example.org  046-156-1317  080-8565-4055  233-3474
31      keisuke_yasutomi@example.ne.jp  0799-38-7186  050-1104-9430  652-9429
32             andou_tooru@example.com  03-9940-2763  070-8392-8063  111-3082
33         nishikawa1026@example.ne.jp  0827-20-6970  080-4636-2426  728-9603
34        tsunoda_kunihiko@example.net  0531-10-0629  050-3976-3681  464-2930
35               kanai_126@example.com  046-203-4248  050-9525-1627  220-4204
36       miyazawatsutomu@example.co.jp  03-5792-6575  050-4708-6115  113-4331
37          masahiroyokota@example.net  046-751-6474  090-9925-9942  232-5363
38                ikeda924@example.net  03-4017-7624  090-7809-7270  163-9094
39          hidekisugimoto@example.com  0467-02-4823  090-0756-3149  249-4772
40        takeshimochizuki@example.net  03-0084-6478  080-8805-7968  176-4428
41        miyazakimasako@example.co.jp  01564-7-3906  090-1444-8105  048-0338
42           kikuchi1129@example.co.jp  03-0581-1349  090-6060-0092  127-2709
43          nukanobumanabu@example.com  047-317-9071  050-1382-1890  281-9841
44        mitsuru_yamazaki@example.net  046-523-8860  050-9244-9356  249-0298
45           yamaguchi1210@example.net  03-0666-8758  080-3115-1852  156-4091
46             ebisawa_117@example.net  06-0260-5620  050-4281-8647  569-6767
47           kawazu_hiroki@example.org  03-5513-3030  080-6110-0464  194-4119
48               tsuzuki219@example.jp  0740-08-5660  070-4509-4828  524-6284
49           okimoto_103@example.co.jp  03-0479-3068  080-1607-5390  207-0018
50          taniguchi219@example.co.jp  0476-68-8449  070-5164-3016  266-1744
51          hamadakazuya@example.co.jp  03-4556-6453  090-4666-4781  133-1838
52     toshihiro_nakanishi@example.com  0467-43-8276  080-4535-1748  220-1018
53              kubota1123@example.org  0154-68-4066  070-5530-4358  091-5946
54              mori_218@example.co.jp  03-7363-3113  090-6656-7383  102-8353
55         takafumi_yoshida@example.jp  03-8096-0713  090-1775-6898  168-6798
56              iwamura918@example.net  0568-74-3030  090-2625-5083  479-7972
57               asai626@example.co.jp  03-1893-2112  090-3166-7335  189-4056
58         makinotomoaki@example.ne.jp  044-900-6513  050-1457-9285  240-3431
59         yoshihiko_hashi@example.com  03-8516-8629  070-9196-3629  135-1683
60          yasuto_kuzuhara@example.jp  0172-50-9619  090-7514-1760  032-1815
61           hotaka_ueno@example.ne.jp  03-8545-9818  090-5762-7279  146-9460
62           miyuki_sato@example.co.jp  0569-25-8591  050-8154-2855  463-0367
63          takadayasuhiro@example.com  03-4484-1538  070-4239-1220  121-1258
64         kanazawa_shigeru@example.jp  0124-83-5433  080-2612-0657  094-2220
65       akaminenobuyuki@example.co.jp  044-182-9308  080-1269-5022  241-0088
66             yamamoto724@example.net  0955-23-6460  090-2829-1376  844-2465
67             misakosaito@example.com  0175-25-1507  080-6148-6486  037-4816
68         kaneko_shouta@example.ne.jp  0564-45-0628  080-4342-2250  498-2795
69               ashikaga85@example.jp  0569-48-4432  050-6624-9500  482-7736
70            aritatakashi@example.com  044-446-1305  050-9993-3243  227-5824
71           shintani210@example.co.jp  09802-3-3479  080-6008-3529  908-9870
72          watasemasahiro@example.org  06-8691-3773  080-6168-5600  587-6353
73                yasuda325@example.jp  0438-92-5319  050-3230-8770  263-3691
74              fukuda_928@example.com  03-1281-5110  070-6402-0710  197-9076
75            yuzuru_chiba@example.org  09913-7-3658  050-7973-8008  896-3041
76           ishii_morihiro@example.jp  03-3481-7590  080-6439-8572  136-6925
77                tada_929@example.org  03-4090-1401  050-4127-9206  204-6701
78             otsuka_1221@example.org  03-2663-8123  070-9339-5605  158-1104
79            mochizuki721@example.net  0531-59-5187  080-0031-8497  440-3456
80         yanagisawa_ryou@example.org  03-9535-3698  070-7506-7476  165-1360
81           hashimoto_121@example.com  03-0027-1498  080-2893-2589  159-7888
82              okabekaori@example.org  03-0776-4623  080-3779-9301  145-5060
83        kozue_ishigami@example.co.jp  06-7410-4887  090-5292-1864  582-9006
84           seiichirounose@example.jp  03-3629-0935  050-3047-7269  197-4574
85          kazumiyamamoto@example.com  099-768-3474  050-6502-6443  898-5061
86            tomita_126@example.ne.jp  043-974-5161  070-7171-5413  263-5924
87             moriyama124@example.net  0829-46-5030  080-7467-1043  735-4623
88            kenichisaito@example.com  0166-35-1202  070-1166-7219  074-4140
89              kento_sato@example.com  0463-22-6971  050-9870-7746  212-1274
90           kyoukookumura@example.org  0238-95-5684  090-1857-7477  990-0179
91         sayoko_watanabe@example.org  06-8298-3662  090-8514-7292  541-3467
92             hasegawa125@example.org  03-5236-0603  050-7560-5332  182-1514
93             youko_sanae@example.net  0797-83-2182  090-8006-8242  665-3533
94           sugimototakumi@example.jp  046-973-5497  090-4952-3564  259-2232
95              konishi125@example.org  03-0150-4008  050-7090-3759  193-7966
96              hirako_324@example.com  01372-9-4699  090-3672-6995  093-7699
97          kitamura_yuuko@example.org  055-581-4318  070-9055-4766  421-0853
98         tooru_shinohara@example.org  043-000-4409  070-9126-6224  285-4026
99          matsumura813@example.ne.jp  03-6979-4949  080-1770-4230  168-3172
100            takashi_kai@example.org  03-8579-9492  080-6199-2749  119-5379
101          shinichi_kato@example.com  0465-47-8130  070-3597-2628  247-2506
102            tanaka619@example.co.jp  03-3557-1217  080-6257-0073  168-6638
103          kentamiyazaki@example.com  06-9899-4731  050-3552-1912  597-4716
104              iseki_930@example.net  0749-50-7240  090-2126-6039  522-5126
105          kawakami513@example.co.jp  03-0378-6170  070-2511-8448  207-5877
106        yumiko_yokoyama@example.org  0162-86-8125  080-0885-8995  061-0411
107         yamagishi312@example.co.jp  0587-57-3232  080-5465-5662  486-6244
108        fukuda_katsuhiko@example.jp  0165-66-1876  070-1119-0341  080-6625
109          noguchi_729@example.ne.jp  03-0091-9243  050-7417-0738  184-9972
110                mori623@example.com  03-9303-0765  080-3783-3512  134-6701
111             kudou525@example.co.jp  03-9281-6931  050-3670-5749  140-8403
112            suzuki_1020@example.com  03-7361-9800  050-2750-2749  123-9263
113         yamauchi1112@example.co.jp  0495-00-0654  080-0087-7870  337-4125
114          iwase_daisuke@example.org  0155-56-7822  050-0401-4880  059-6038
115            kawai_104@example.ne.jp  03-1714-7419  090-4628-5799  142-7132

In [49]:
print(personal_info["特別区"].value_counts())

False    140
True      60
Name: 特別区, dtype: int64

In [50]:
# 確認テスト(1) : 携帯電話番号の下2桁が `11` である人の人数
# 回答にはここで計算した人数を数値で入力してください
5

5

In [51]:
# 確認テスト(2) : 早生まれの人数
# 回答にはここで計算した人数を数値で入力してください
57

57

In [52]:
# 確認テスト(3) : 東京23区に住む人数を答えてください
# 回答にはここで計算した人数を数値で入力してください
60

60